.about {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
}
.title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 1);
  color: #130f40;
}
.title span {
  color: green;
}

.brandParteners {
  color: black;
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: underline;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #130f40;
  border-radius: 0.5rem;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #130f40;
  color: #fff;
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about .row .image {
  flex: 1 1 32rem;
}
.about .row .image img {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
.about .row .content {
  flex: 1 1 50rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: #130f40;
}
.about .row .content h3 span {
  color: green;
}
.about .row .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 2rem 0;
  line-height: 2;
}
/* ends */
