.hero-section {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  width: 100%;
}

/* .hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
} */

.hero-msg a {
  color: #007185;
}

@media (max-width: 700px) {
  .hero-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  .hero-msg {
    display: none;
  }
}
