.profile-container {
  background: linear-gradient(45deg, #b2b5e0, #c5adc5);
  width: 100%;
  /* margin-top: 10px; */
  padding-top: 5px;
  padding-bottom: 10px;
}
.profileCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #8c8fb8;
}
