*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}
img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 5rem;
}
.container .col {
  height: 30vw;
}
.container .col .card {
  max-width: 400px;
  height: 100%;
  position: relative;

  /* give a 3D-positioned element some perspective */
  perspective: 1000px;
}
.container .col .card__side {
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.5);

  /* set position to absolute to make the card flip */
  position: absolute;
  top: 0;
  left: 0;

  /* hide the back side of the card */
  backface-visibility: hidden;

  transition: all 0.8s ease-in-out;
}
.container .col .card__side .frame {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the front side of the card */
.container .col .card__side--front {
  filter: contrast(80%);
  background-size: cover;
  background-position: center;
}
/* .container .col .card__side--front-1 {
background-image: url("/images/nike5.png");
}
.container .col .card__side--front-2 {
  background-image: url("/images/nike8.png");
}
.container .col .card__side--front-3 {
  background-image: url("/images/nike6.png");
} */
.container .col .card__side--front .frame {
  border: solid 2px #f7f7f7;
  box-shadow: 1px 1px 10px rgba(34, 34, 34, 0.2),
    inset 1px 1px 5px rgba(34, 34, 34, 0.2);
}
.container .col .card__side--front .frame p {
  color: white;
  font-family: serif;
  font-weight: 200;
  font-size: 40px;
  text-shadow: 2px 2px 5px #222;
}

/* Styling the back side of the card */
.container .col .card__side--back {
  background-color: #f7f7f7;

  /* Rotate the back side of the card
  - You can check how it works when you comment out "backface-visibility: hidden;"
  */
  transform: rotateY(180deg);
}
.container .col .card__side--back .frame {
  border: solid 1px rgba(34, 34, 34, 0.5);
  position: relative;
}
.container .col .card__side--back .frame p {
  width: 70%;
  text-align: justify;
  line-height: 1.5;
}
.container .col .card__side--back .frame small {
  position: absolute;
  bottom: 20px;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}
.explanation {
  width: 60%;
  margin: 5rem auto;
}

.explanation article {
  padding: 20px 40px;
}

.explanation .note {
  margin-top: 3rem;
  background-color: #c2f4f4;
  border-radius: 5px;
  outline: solid 2px #c2f4f4;
  outline-offset: 10px;
}

h1 {
  margin-bottom: 2rem;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 10px;
}

code {
  background-image: linear-gradient(
    transparent 70%,
    rgba(255, 255, 0, 80%) 80%
  );
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .col {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .container .col {
    width: 350px;
  }

  .card__side--front {
    display: none;
  }

  .container .col .card__side--back {
    filter: contrast(80%);
    transform: rotateY(0);
    background-size: cover;
  }
  .container .col .card__side--back-1 {
    background-image: url("/images/nike5.png");
  }
  .container .col .card__side--back-2 {
    background-image: url("/images/nike6.png");
  }
  .container .col .card__side--back-3 {
    background-image: url("/images/nike7.png");
    background-position: center;
    background-size: 750px;
  }

  .container .col .card__side--back .frame {
    background-color: #f7f7f7b0;
    border: none;
    box-shadow: inset 1px 1px 1px #22222220;
  }
}
