.main_div {
  margin: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
  /* z-index: -1; 
  position: relative; */
}
.sm_div {
  transition: 0.2s linear;
  margin-top: 20px;
  background-image: url("/images/nike2.png");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  width: 298px;
  height: 298px;
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
.sm_div:hover {
  cursor: pointer;
  transform: scale(0.9);
  /* z-index: 1; */
}
.sm_div p {
  margin-bottom: 10px;
}

@media (max-width: 350px) {
  .main_div {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .sm_div {
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0);
  }
}
